In [2]:
import pandas as pd
import numpy as np
import os
import requests
import matplotlib.pyplot as plt
from scipy import interpolate
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import random
import time

In [20]:
url1 = 'https://fantasy.premierleague.com/api/entry/4306792/'
r1 = requests.get(url1)
userinfo = r1.json()
userinfo.keys()

dict_keys(['id', 'joined_time', 'started_event', 'favourite_team', 'player_first_name', 'player_last_name', 'player_region_id', 'player_region_name', 'player_region_iso_code_short', 'player_region_iso_code_long', 'summary_overall_points', 'summary_overall_rank', 'summary_event_points', 'summary_event_rank', 'current_event', 'leagues', 'name', 'name_change_blocked', 'kit', 'last_deadline_bank', 'last_deadline_value', 'last_deadline_total_transfers'])

In [59]:
userinfo['id']
userinfo['player_region_name']
userinfo['summary_overall_points']
userinfo['summary_overall_rank']
userinfo['last_deadline_total_transfers']

27

The idea is to find the distribution of FPL users across the world. But to do so, extracting the data from all the users might be limited from the API console and is not safe for my IP. 

One idea is to leverage the statistical sampling methods to estimate those.

Let's start with 50 samples

In [34]:
random.seed(10)
int(np.random.uniform(1,8000000))

5266650

#### First attempt to pull 50 data points.

In [35]:
id_list = []

for i in range(50):
    id_list.append(int(np.random.uniform(1,8000000)))

In [40]:
len(id_list)

50

In [47]:
data_df = pd.DataFrame(index=range(50), columns=['user_id','user_region','favourite_team',
                                                 'overall_points','overall_rank'])

In [48]:
for i in range(50):
    url2 = 'https://fantasy.premierleague.com/api/entry/' + str(id_list[i]) + '/'
    print(i)
    r2 = requests.get(url2)
    userinfo = r2.json()
    
    data_df.iloc[i,0] = userinfo['id']
    data_df.iloc[i,1] = userinfo['player_region_name']
    data_df.iloc[i,2] = userinfo['favourite_team']
    data_df.iloc[i,3] = userinfo['summary_overall_points']
    data_df.iloc[i,4] = userinfo['summary_overall_rank']

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [49]:
data_df

    user_id           user_region favourite_team overall_points overall_rank
0   7000956                 Egypt             13           1010      4639122
1   6080218              Tanzania              6           1011      4624509
2   2293355               England              1           1009      4655681
3   1171088               England              7           1109      2888044
4    611576               England           None            960      5458899
5   1836322            Bangladesh             13           1026      4359575
6    781223               England             13            951      5602363
7   1384092                   USA             10           1049      3956853
8   4647824                 Wales              9            745      7778044
9   6863627                Jordan             12            859      6834047
10  7454273               Nigeria             11            701      8004173
11  2277947              Scotland             13            914      6134801
12  7364930               England             12            948      5637361
13  2926516               England              1            975      5214467
14  4498363               England              8           1278       569411
15  7299587                Norway             13            965      5369688
16  2214219                Sweden             12           1254       779662
17  6242503               England           None           1149      2186402
18  4241967               Ireland             13            981      5116825
19  7981740                 Egypt             11            915      6127292
20  2911819                 Egypt             11           1294       459652
21  2011770                 Kenya              1           1195      1482489
22  1007871           Netherlands              1           1303       402153
23  1401871                 Sudan              6            871      6686143
24  5967057             Hong Kong             13            827      7156133
25  2686537              Scotland             13           1221      1132278
26   197495                 Qatar              6           1329       265978
27    18738               England              8           1111      2850191
28  6013694               Ireland             13           1205      1335612
29  5491054           New Zealand           None            835      7083962
30  7824398  United Arab Emirates             11            673      8114968
31  1495288               Ireland              8            698      8018880
32  5329653               England             10           1106      2942804
33   859373              Malaysia             11            989      4995754
34  3866599             Australia              8            911      6173006
35  7168927                  Iraq             11            887      6500541
36  5468734               Ireland             11           1147      2222487
37  2166724               Nigeria              2            805      7358570
38  4666383              Tanzania             11            826      7165807
39  3890028              Malaysia             11           1157      2061234
40  5480019             Australia             13            868      6728577
41  2528053           South Korea             11           1164      1948182
42  6013164                 Egypt              1            939      5777346
43   912332                Canada             13            880      6583696
44  1420032               England           None           1062      3725266
45  4879740                 Egypt             13           1289       491182
46  3619652      Northern Ireland             11           1287       502742
47  3031204              Scotland              6           1118      2728680
48  7961718               Tunisia             13            810      7317462
49  4395786                 Sudan             11           1143      2295857

In [54]:
data_df.groupby('user_region').count()['user_id']

user_region
Australia                2
Bangladesh               1
Canada                   1
Egypt                    5
England                 11
Hong Kong                1
Iraq                     1
Ireland                  4
Jordan                   1
Kenya                    1
Malaysia                 2
Netherlands              1
New Zealand              1
Nigeria                  2
Northern Ireland         1
Norway                   1
Qatar                    1
Scotland                 3
South Korea              1
Sudan                    2
Sweden                   1
Tanzania                 2
Tunisia                  1
USA                      1
United Arab Emirates     1
Wales                    1
Name: user_id, dtype: int64

#### Scaling up the program to pull 1000 users

In [3]:
id_list_2 = []

for i in range(1000):
    id_list_2.append(int(np.random.uniform(1,8000000)))

In [4]:
data_df_1 = pd.DataFrame(index=range(1000), columns=['user_id','user_region',
                                                     'favourite_team',
                                                     'overall_points',
                                                     'overall_rank',
                                                     'last_deadline_value',
                                                     'last_deadline_total_transfers'])

In [5]:
for i in range(1000):
    url2 = 'https://fantasy.premierleague.com/api/entry/' + str(id_list_2[i]) + '/'
    print(i)
    r2 = requests.get(url2)
    userinfo = r2.json()
    
    data_df_1.iloc[i,0] = userinfo['id']
    data_df_1.iloc[i,1] = userinfo['player_region_name']
    data_df_1.iloc[i,2] = userinfo['favourite_team']
    data_df_1.iloc[i,3] = userinfo['summary_overall_points']
    data_df_1.iloc[i,4] = userinfo['summary_overall_rank']
    data_df_1.iloc[i,5] = userinfo['last_deadline_value']
    data_df_1.iloc[i,6] = userinfo['last_deadline_total_transfers']
    
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793

ConnectionError: HTTPSConnectionPool(host='fantasy.premierleague.com', port=443): Max retries exceeded with url: /api/entry/2856267/ (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fd27d962580>: Failed to establish a new connection: [Errno 50] Network is down'))

In [6]:
data_df_1.shape

(1000, 7)

In [7]:
data_df_1.to_excel('FPL_users_1k_v01222022_v1.xlsx')